body{
    margin: 0px
}
.header{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
#img-header{
    width: 100%;
    position: relative;
    bottom: 100px;
}
#cover{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0  ;
    opacity: 0.7    ;
}
#menu-header{
    width:100%;
    height: 50px;
    position: absolute;
    top: 0;
    direction: ltr;
    }
#menu{
    margin-left: 15px;
    margin-top: 20px;
    }
#menu > .btn{
    margin-left: 30px;
    color:gold;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: background 0.5s;
    }
#menu > .btn:hover{
    background-color:gray;
    }
.active{
    background-color:red;
    
}
#main-content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -270px;
}
#img-frame{
    width: 200px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(109, 49, 14) ;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 9px 8px #c7c7c7;
    transition: box-shadow 0.5s padding 0.5s;
}
#img-frame:hover{
    box-shadow: 0px 9px 8px #959595;
    padding: 15px;
}
#img-frame > img{
    height: 100%;
}
#centered-content{
    text-align: center;
    color: gold;
    font-size: 29;
}